<div id="list-container" class="list-container">
    <span id="listTitle" class="listTitle">Toward to.. <i class="fas fa-caret-square-down"></i></span>
    <ul id="list" class="list">
        <li>
            <a class="videoStorage" href=<%=routes.home%>><i class="fas fa-list"></i> TODOLIST</a>
        </li>
        <li>
            <a class="videoStorage" href=<%=routes.videoStorage%>><i class="fas fa-film"></i> Video-Storage</a>
        </li>
        <li>
            <a class="videoStorage" href=<%=routes.forum%>><i class="fas fa-clipboard-list"></i> Bulletin-Board</a>
        </li>
        <li>
            <a class="videoStorage" href=<%=routes.calculator%>><i class="fas fa-calculator"></i> Calculator</a>
        </li>
    </ul>
</div>